html,body {
    padding: 0px;
    margin: 0px;
}

html {
    overflow: clip;
}

body {
    image-rendering: crisp-edges;  /* Firefox */
    image-rendering: pixelated;    /* Chrome */
}

.container {
    position: relative;
}

.box {
    position: absolute;
}

.overlay {
    pointer-events: none;
    z-index: 1;
    color: white;
    font-family: sans-serif;
}

.overlay .menu {
    position: absolute;
    right: 0%;
    bottom: 0%;
    margin: 2%;
    width: 96%;
    height: 96%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 2%;
    justify-items: center;
    align-items: center;
}

.overlay button {
    pointer-events: auto;
    font-size: 8vh;
    width: 100%;
    height: 100%;
}

.overlay span {
    font-size: 7vh;
    width: 100%;
    height: 100%;
    position: relative;
    top: 13%;
}

.overlay img {
    width: 100%;
    height: 100%;
}
